@media screen and (min-width: 2600px) { 
    .banner-area {
        max-width: 2400px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1800px) { 
   .container {
        max-width: 1420px;
    }
    nav ul {
        gap: 40px;
    }
    .btn {
        padding: 12px 24px
    }
    .banner-info h1 {
        font-size: 65px;
    }
    .banner-info {
        width: 44%;
    }
    .banner-right {
        width: 56%;
        min-height: 735px;
    }
    .banner-photoSider {
        max-width: 620px;
    }
    .service-years-card {
        left: -45px;
    }
    h2 {
        font-size: 55px;
    }
    .our-team-info h2 {
        margin-bottom: 50px;
    }
    .our-agency-wrap p {
        font-size: 16px;
    }
    .our-team-info ul {
        padding-top: 50px;
    }
    .lets-talk-title h2 {
        font-size: 60px;
        line-height: 116%;
        padding-bottom: 55px;
    }
    .project-name h4 {
        font-size: 20px;
        line-height: 120%;
    }
    .our-team-area  .our-team-info h2 {
       font-size: 50px; 
    }
    .our-clients-area .our-team-info {
        padding-right: 0px;
        padding-left: 65px;
    }
    .our-team-area .our-team-info h2 {
        font-size: 42px;
    }
    .our-journey-details {
        padding-left: 90px;
    }
    .investor-info h6 {
        font-size: 18px;
    }
    .investor-info h4 {
        font-size: 24px;
    }
    .our-journey-photo .project-name h4 {
        font-size: 35px;
    }
    .worldwide-info {
        padding-left: 110px
    }
    .country-name h3 {
        font-size: 30px;
    }
    .breadcrumb-area {
        padding-bottom: 70px
    }

    .top-btn-box {
        min-width: 343px;
        width: 343px;
    }
    .achieve-goals-area .common-title h2 {
        font-size: 50px;
    }
    .project-counter-box {
        padding:50px;
    }
    .project-counter-bg strong {
        font-size: 20px;
    }
    .project-counter-bg {
        padding:65px 20px;
    }
    .team-member-info span {
        font-size: 16px;
    }
    .team-member-info h4 {
        margin-bottom: 4px
    }
    .team-shap-icom1 {
        top:8%;
    }
    .business-idea-photo {
        width: 50%;
    }
    .business-idea-info {
        width: 50%;
        padding-left: 100px;
    }
    .quote-text h2 {
        font-size: 100px;
    }
    .quote-text {
        bottom: -13px;
        right: -163px;
    }
    .case-study-area {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .testimonial-content p {
        font-size: 28px;
    }
    .clientsSidler .swiper-nav {
        max-width: 110px;
    }
    .clientsSidler .swiper-nav-custom {
        width: 43%;
    }
    .google-rataing-text p {
        font-size: 34px;
    }
    .employee-benifits-content .info-details h6 {
        font-size: 38px;
    }
    .employee-benifits-content .info-details p {
        font-size: 18px;
        line-height: 26px;
    }
    .team-person-inner strong, .team-person-inner p {
        font-size: 28px;
    }
    #filters {
        gap: 20px;
    }
    .filter {
        font-size: 18px;
    }
    .sucessfull-project-info h3 {
        font-size: 50px;
        line-height: 60px;
    }
    .sucessfull-project-info p {
        font-size: 18px;
    }
    #portfolio {
        -webkit-column-gap: 60px;
        -moz-column-gap: 60px;
        column-gap: 60px;
    }

    .partof-bg img {
        height: 300px;
    }
    .team-member-photo img {
        height: 350px;
    }
}
@media screen and (max-width: 1600px) { 
    .container {
         max-width: 1220px;
    }
    h2 {
        font-size: 44px;
    }
    .our-team-info h2 {
        max-width: 600px;
        margin-bottom: 40px;
    }
    nav ul li {
        font-size: 18px;
    }
    nav ul {
        gap:35px;
    }
    .btn {
        font-size: 18px;
    }
    .banner-info h1 {
        font-size: 54px;
    }
    .banner-photoSider {
        max-width: 550px;
    }
    .platform-item {
        font-size: 14px;
        max-width: 220px;
        margin-left: 110px;
        gap: 10px;
        line-height: 140%;
    }
    .service-years-bg h2 {
        font-size: 45px;
    }
    .service-years-card {
        max-width: 250px;
        padding: 30px 28px 20px 24px;
    }
    .google-logo {
        padding-bottom: 24px;
    }
    .banner-right {
        min-height: 625px;
    }
    .service-years-bg p {
        font-size: 13px;
        margin-bottom: 14px;
    }
    .our-team-info ul {
        padding-top: 40px;
        gap: 10px;
        margin-bottom: 16px;
    }
    .our-team-info ul li {
        gap: 10px;
        font-size: 16px;
    }
    .our-agency-wrap p br {
        display: none;
    }
    .our-agency-wrap h5 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .our-clients-area .our-agency-wrap {
        padding-top: 50px;
    }
    .our-journey-photo .project-name h4 {
        font-size: 28px;
    }
    .testimonial-wrap {
        padding: 30px 25px;
    }
    .author-info span,
    .author-info p {
        font-size: 18px; 
    }
    .testimonial-wrap {
        max-width: 480px;
    }
    .worldwide-partners-area {
        padding-top: 30px
    }
    .shape-future-area {
        padding-top: 30px
    }
    .worldwide-info {
        padding-left: 100px;
    }
    .footer-contact span,
    .content-info a,
    .footer-widget ul li, .footer-widget p {
        font-size: 16px;
        line-height: 145%;
    }
    .footer-contact {
        max-width: 325px;
    }
    .footer-text {
        max-width: 316px;
    }
    .play-btn {
        width: 70px;
        height: 70px;
    }
    .tax-saveings h4 {
        margin-bottom: 15px
    }
    .breadcrumb-area {
        padding-bottom: 50px;
        padding: 50px;
    }
    .top-btn-box {
        min-width: 322px;
        width: 322px;
    }
    .achieve-goals-area .common-title {
        padding-right: 40px
    }
    .achieve-goals-area .common-title h2 {
        font-size: 44px;
    }
    .title-2 p {
        font-size: 18px;
    }
    .project-counter-box {
        padding: 40px;
    }
    .project-counter-bg strong {
        font-size: 16px;
    }
    .project-counter-bg {
        padding: 50px 12px;
    }
    .project-counter-bg h2 {
        margin-bottom: 25px
    }

    .individuals-team-area .common-title h2 {
        font-size: 42px;
    }
    .individuals-team-inner {
        padding-top: 20px;
        padding-bottom: 80px;
    }
     .quote-text h2 {
        font-size: 80px;
        line-height: 60px;
    }
    .business-idea-info {
        padding-left: 70px;
    }
    .sercives-we-provide-area .servies-content {
        gap:30px;
    }
    .sercives-we-provide-area .servies-item {
        width: calc((100% - 30px) / 2);
        padding: 20px 24px;
    }
    .sercives-we-provide-area .servies-info-wrap {
        padding-top: 30px;
    }
    .sercives-we-provide-area .servies-info-title h3 {
        font-size: 24px;
    }
    .sercives-we-provide-area .servies-info-title p {
        font-size: 15px;
    }
    .our-informtion-bg {
        padding:20px;
    }
    .info-details {
        padding-top: 50px;
    }
    .info-details h6 {
        font-size: 22px;
        line-height: 32px;
    }
    .info-details p {
        font-size: 18px;
        line-height: 26px;
    }
    .info-details span {
        font-size: 18px;
    }
    .field-input .form-control {
        height: 90px;
        padding: 20px;
        font-size: 24px;
    }
    .field-input label {
        font-size: 24px;
        line-height: 40px;
        padding-bottom: 8px;
    }
    .contact-form {
        padding-top: 70px;
    }

    .testimonial-content p {
        font-size: 26px;
    }
    .clientsSidler .swiper-nav-custom {
        width: 50%;
    }
    .google-rataing-text p {
        font-size: 28px;
    }
    .employee-benifits-content .info-details {
        padding-top: 30px;
    } 
    .employee-benifits-content .info-details h6 {
        font-size: 30px;
    }
    .employee-benifits-content .info-details p {
        font-size: 16px;
        line-height: 22px;
    }
    .team-person-inner {
        padding:30px;
    }
    .team-person-inner strong,
    .team-person-inner p {
        font-size: 24px;
    }
    .filter {
        font-size: 16px;
    }
    .filter {
        padding:10px 20px;
    }
    #filters {
        gap: 15px;
    }
    .blog-item-info p {
        font-size: 20px;
        line-height: 28px
    }
    .our-product-box .sucessfull-project-info {
        padding-left: 50px;
    }
    .our-product-box .reverse-cal-item .sucessfull-project-info {
        padding-right: 50px
    }
    .our-product-box .sucessfull-project-info h3 {
        font-size: 46px;
    }
    .our-product-box .project-btn {
        font-size: 16px;
    }
    .partof-bg img {
        height: 260px;
    }
    .team-member-photo img {
        height: 300px;
    }
    .marquee-slider {
        margin-top: -23%;
        margin-bottom: -31%;
        margin-left: -15%;
        margin-right: -15%;
    }

 }
 @media screen and (max-width: 1400px) { 
    .platform-item {
        margin-left: 45px;
    }
    .service-years-bg p {
        font-size: 10px;
        margin-bottom: 13px;
    }
    .service-years-card {
        max-width: 212px;
    }
    .service-years-bg h2 {
        font-size: 38px;
        margin-bottom: 10px;
    }
    .google-logo {
        padding-bottom: 20px;
    }
    .google-logo {
        padding-bottom: 20px;
    }
    .banner-right {
        min-height: 610px;
    }
    .service-years-card {
        left: -82px;
    }
    .our-journey-photo .project-name {
        left: 20px;
        bottom: 20px;
    }
    .footer-widget ul li {
        margin-bottom: 8px;
        font-weight: 400;
    }
    .our-lineup-full {
        padding-top: 120px;
    }
    .team-shap-icom2 {
        max-width: 165px;
    }
    .team-shap-icom1 {
        top: 12%;
        max-width: 180px;
    }

    .case-study-area {
        padding-top: 110px;
        padding-bottom: 110px;
    }
    .case-study-info {
        padding-right: 20px;
    }
    .testimonial-content p {
        font-size: 24px;
    }
    .clienst-info span, .clienst-info h6 {
        font-size: 22px;
    }
    .our-product-box .sucessfull-project-info h3,
    .sucessfull-project-info h3 {
        font-size: 40px;
        line-height: 50px
    }


}
 @media screen and (max-width: 1300px) { 
    .container {
         max-width: 1080px;
    }
    .header-area {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .our-team-info h2 {
        font-size: 34px;
        margin-bottom: 30px;
    }
    .our-team-info {
        padding-right: 24px;
    }
    .our-team-area {
        padding-bottom: 50px
    }
    .our-team-area {
        padding-top: 60px;
    }
    .common-title p {
        font-size: 18px;
    }
    .servies-content {
        max-width: 900px;
    }

    .servies-item {
        padding: 24px 30px;
    }
    .servies-info-wrap {
        padding-top: 30px;
    }
    .servies-info-title h3 {
        font-size: 30px;
        line-height: 125%;
        margin-bottom: 10px;
    }
    .lets-talk-title h2 {
        font-size: 40px;
        line-height: 116%;
        padding-bottom: 45px;
    }
    .lets-talk-title {
        gap: 80px;
    }
    .our-clients-area .our-team-info {
        padding-left: 40px;
    }
    .our-team-area .our-team-info h2 {
        font-size: 36px;
    }
    .our-clients-area .our-agency-wrap {
        padding-top: 30px;
    }
    .our-successfull-area {
        padding-bottom: 60px
    }
    .our-journey-details {
        padding-left: 50px;
    }
    .investor-info h4 {
        font-size: 22px;
    }
    .investor-info h6{
        font-size: 16px;
    }
    .investor-info {
        margin-bottom: 14px
    }
    .worldwide-info {
        padding-left: 60px;
    }
    .content-icon {
        width: 35px;
        height: 35px;
        min-width: 35px;
        font-size: 20px;
    }
    .social-media-link {
        gap: 25px;
    }
    .social-media-link ul {
        gap: 15px;
    }
    .tax-saveings h4 {
        font-size: 30px;
    }
    .tax-saveings h4 span {
        font-size: 18px;
        padding: 2px 6px;
        border-radius: 1px;
    }
    .tax-saveings p {
        font-size: 16px;
    }
    .tax-saveings {
        bottom: -80px;
        right: 0px;
        max-width: 140px;
        padding: 16px 16px;
    }
    .about-video-content.position-relative {
        padding-right: 20px;
    }
    .partof-single {
        padding:10px;
    }
    .partof-us-content {
        margin: -10px;
        padding-top: 40px;
        gap: 4px 0px;
    }
    .field-input textarea.form-control {
        height: 270px;
    }
    .clientsSidler .swiper-nav-custom {
        width: 100%;
    }
    .clientsSidler .swiper-nav {
        margin:0 auto;
    }
    .team-person-inner strong, .team-person-inner p {
        font-size: 20px;
    }
    .team-person-inner span {
        font-size: 18px;
    }
     #filters {
        flex-wrap: wrap;
    }
    .marquee-slider {
        margin-top: -28%;
        margin-bottom: -31%;
        margin-left: -15%;
        margin-right: -15%;
    }
    .marquee-section .swiper-slide {
        height: 300px;
    }
 }
 @media screen and (max-width: 1200px) { 
    nav ul li {
        font-size: 16px;
    }
    .btn {
        font-size: 16px;
        padding: 10px 20px;
    }
    nav ul {
        gap:25px;
    }
    .logo {
        max-width: 140px;
    }

    .custom-py {
        padding-left: 16px;
        padding-right: 16px;
    } 
    .banner-photoSider {
        max-width: 460px;
    }
    .banner-info h1 {
        font-size: 46px;
    }
    .banner-info h1 {
        font-size: 46px;
        margin-bottom: 40px;
    }
    .banner-info p {
        font-size: 18px;
        margin-bottom: 32px;
    }  
    .banner-right {
        min-height: 525px;
    }  
    .service-years-card {
        padding: 20px 20px 15px 16px;
        max-width: 200px;
    }
    .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custo {
        bottom: 70px;
    }
    .platform-item {
        margin-left: 0px;
    }
    .banner-area {
      padding-top: 30px;
    }
    .clientSlider {
        padding-top: 30px;
    }
    .future-content .project-name h4 {
        font-size: 26px;
    }
    .testimonial-wrap {
        right: 60px;
    }
    .shape-future-bottom {
        padding-top: 130px;
    }
    .shape-future-bottom h3 {
        margin-bottom: 20px;
    }
    .worldwide-info {
        padding-left: 40px;
    }
    .worldwide-info h2{
        font-size: 34px;
    }
    .worldwide-info p {
        font-size: 16px;
    }
    .country-name h3 {
        font-size: 20px;
    }
    .blinking-icon {
        margin-top: 10px;
        left: -10px;
        position: relative;
    }
    .footer-text {
        max-width: 270px;
    }
    .title-top-box {
        align-items: start !important;
    }
    .individuals-team-inner {
        padding-right: 20px;
    }
    .individuals-team-inner h3 {
        font-size: 22px;
    }
    .case-study-person {
        padding:20px;
    }
    .study-person-left h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .study-person-left strong {
        font-size: 18px;
        line-height: 28px
    }
    .study-person-left p {
        font-size: 16px;
    }
    .contact-form-inner {
        gap: 30px;
    }
    .contant-form-item {
        width: calc((100% - 30px) / 2);
    }
    .google-rataing-text p {
        font-size: 20px;
    }
    #portfolio {
        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;
    }
    .tile:first-child {
        margin-top: 50px;
    }

    .our-product-box .sucessfull-project-info h3,
    .sucessfull-project-info h3 {
        font-size: 30px;
        line-height: 40px
    }
    .sucessfull-project-info p {
        font-size: 16px;
    }
    .marquee-slider-contanier,
    .products-map-photo,
    .tile {
        margin-bottom: 50px
    }
    .blog-item-info {
        padding: 16px;
    }
    .blog-item-info span, .blog-item-info small {
        font-size: 14px;
    }
    .blog-item-info p {
        font-size: 18px;
        line-height: 24px;
    }
    .our-product-box .sucessfull-project-info {
        padding-left: 30px;
    }
     .team-member-photo img {
        height: 360px;
    }


 }

 @media screen and (max-width: 992px) { 
    p {
        font-size: 16px;
    }
    .nav-toggler {
        border: none;
        outline: none;
        width: 34px;
        padding: 0px;
        background: none;
        position: relative;
        z-index: 33;
      }
      .nav-toggler span {
        width: 100%;
        margin-bottom: 8px;
        height: 3px;
        border-radius: 10px;
        display: block;
        background:var(--dark);
      }
      .nav-toggler span:last-child {
        margin-bottom: 0px;
      }
      a.slicknav_btn.slicknav_collapsed {
        display: none;
      }
      #menu_holder {
        position: absolute;
        width: 0px;
        left: 0;
        right: 0px;
        background: var(--dark);
        top: 0;
      }
        .slicknav_nav {
        display:block !important;
      }
      .nav-toggler {
        transition: all .3s ease;
      }
      .nav-toggler.active span:first-child {
        transform: rotateZ(45deg);
      }
      .nav-toggler.active span:last-child {
        display: none;
      }
      
      .nav-toggler.active span:nth-child(2) {
        transform: rotateZ(-45deg);
        margin-top: -11px;
      }
      .menu-backdrop {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        background: #0000005c;
    }
    
    .header-bg .menu-backdrop{
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }

    #menu_holder {
        height: 100vh;
        width: 280px;
        left: inherit;
        right: 0px;
        bottom: 0px;
        width: 0px;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        visibility: hidden;
        border-radius: 0;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease

    }

    .header.header-position #menu_holder {
        top:0px;
    }
    .mobile-menu-open#menu_holder {
        visibility: visible;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        width: 280px;
        z-index: 3;
        top:0px;
    }

    .nav-toggler.active span {
        background-color: var(--primary) !important;
    }
    nav.slicknav_nav.slicknav_hidden {
        padding-top: 60px;
    }
    
    .overflow-hidden {
        overflow: hidden;
    }
    .slicknav_menu {
        height: 100vh;
        overflow: auto;
        padding-bottom: 200px;
    }  
    .slicknav_nav ul {
        flex-direction: column;
        align-items:  start !important;
        margin: 0px;
        width: 100%;
        background: transparent;
        box-shadow: none;
        border: none;
    }  
    nav ul li ul::after, nav ul li ul::before {
        display: none;
    }

    nav ul li ul {
        position: initial;
        transform-origin:initial;
        transition:initial
    }
    nav ul li:hover ul {
        opacity: 1;
        transform:initial;
        visibility:initial;
    }
    .slicknav_nav li {
        width: 100%;
    }
    nav ul {
        gap: 15px;
    }
    .slicknav_nav a {
        padding: 0px 16px;
    }
    nav ul li a::after {
        bottom: 0px;
        left: 16px;
    }
    a.current-menu-item {
        color: var(--primary);
    }
    .menu-item-has-children > a::before {
        right: 0px;
    }
    li.menu-item-has-children ul {
        padding-left: 14px;
        padding-top: 10px;
    }
    li.menu-item-has-children ul li:last-child {
        border-bottom: none;
    }
    li.menu-item-has-children ul li:first-child {
        border-top: 1px solid #dddddd38;
    }
    li.menu-item-has-children ul li a {
        padding:5px 15px;
    }
    a.slicknav_item.slicknav_row a::after {
        display: none;
    }
    
    nav ul li ul { 
     visibility: visible;
     opacity: 1;
     transform: initial;
    }
    .menu-item-has-children:hover > a::before {
        transform: initial;
    }
    .slicknav_parent.slicknav_open a a {
        color: var(--primary);
    }
    .slicknav_parent.slicknav_open a::before {
        transform: rotate(-90deg);
    }
    .contact-usBtn .btn {
        border: 1px solid var(--primary);
        color: var(--primary);
        padding: 10px 20px;
        max-width: 200px;
        margin: 0 auto;
    }
    .contact-usBtn {
        margin-top: 24px;
    }
    .contact-usBtn .btn:hover{
        color: var(--dark);
    }
    .contact-usBtn .btn:hover::after {
        background: var(--primary);
    }
    .banner-content {
        flex-direction: column;
    }
    .banner-photoSider {
        position: initial;
    }
    .banner-info {
        width: 100%;
        padding-left: 16px;
        padding-right:16px;
    }
    .banner-photoSider {
        max-width: 100%;
    }
    .banner-right {
        min-height: auto;
        width: 100%;
    }
    .banner-area  {
        padding-left: 0px;
        padding-right: 0px;
    }
    .banner-info h1 {
        font-size:34px;
        line-height: 120%;
        margin-bottom: 20px;
    }
    .banner-area {
        padding-top: 20px;;
    }
    .banner-info p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .platform-item-wrap {
        justify-content: start !important;
        padding-left: 50px;
        margin-bottom: -60px;
    }
    .service-years-card {
        left: 0px;
        margin-left: 50px;
        margin-top: -130px;
    }
    .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custo {
        bottom: 52px;
    } 
    .team-content {
        flex-direction: column;
    }
    .our-team-info {
        width: 100%;
        padding-right: 0px;
    }
    .our-team-area {
        padding-top: 10px;
        padding-bottom: 40px;
    }
    .our-team-info h2 {
        max-width: 100%;
        font-size: 28px;
    }
    .our-team-photo {
        width: 100%;
    }
    .our-team-photo img {
        width: 100%;
    }
    .our-team-info {
        text-align: center;
    }
    .our-team-info .btn {
        margin: 0 auto;
    }
    .our-team-info h2 {
        margin-bottom: 20px;
    }
    .our-team-info ul li {
        font-size: 14px;
        line-height: 130%;
    }
    .our-team-info ul {
        padding-top: 20px;
        justify-content: center;
        gap: 5px 10px;
        margin-bottom: 10px;
    } 
    .our-agency-wrap {
        padding-top: 20px;
        padding-bottom: 24px;
    }
    .our-agency-wrap .readmore-btn {
        font-size: 16px;
    }
    .our-agency-wrap {
        gap:20px 0px
    }
    .services-provide {
        padding-top: 10px;
    }
    h2{
        font-size: 28px;
        line-height: 100%;
    }
    .common-title p {
        font-size: 16px;
        margin-bottom: 0px;
    } 
    .servies-content {
        padding-top: 20px
    }
     .servies-item {
        padding: 15px 18px;
        margin-bottom: 20px;
    }
    .servies-count h4 {
        font-size: 20px;
    }
    .servies-info-title h3 {
        font-size: 20px;
        line-height: 125%;
        margin-bottom: 8px;
    }
    .servies-info-wrap {
        padding-top: 16px;
        gap: 10px;
    }
    .servies-info-arrow {
        width: 50px;
        height: 50px;
        min-width: 50px;
    }
    .servies-info-arrow img  {
        max-width: 16px;
    }
    .services-provide {
        padding-bottom: 30px;
    }
    .lets-talk-title h2 {
        font-size: 24px;
        line-height: 116%;
        padding-bottom: 40px;
    }
    .lets-talk-title {
        gap: 30px;
    } 
    .lets-talk-title img {
        width: 20px;
    }
    .btn-long-arrow {
        max-width: 80px;
        right: -72%;
    }
    .lets-talk-area {
        padding-top: 50px
    }
    .project-name h4 {
        font-size: 16px;
        line-height: 120%;
    }
    .project-name {
        bottom: 12px;
        left: 12px;
        padding: 6px 8px;
    }
    .our-successfull-area {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .our-successfull-area .common-title {
        padding-bottom: 20px;
    }
    .our-successfull-area .banner-btn {
        padding-top: 30px;
    }
    .our-project {
        flex-direction: column;
    }
    .project-list {
        width: 100%;
    }
    .our-clients-area .team-content {
        flex-direction: column-reverse;
    }
    .our-clients-area .our-team-info{
        padding-left: 0px;
        padding-top: 30px;
    }
    .view-btn {
      width: fit-content;
      margin: 0 auto;
    }
    .our-team-area .our-team-info h2 {
        font-size: 28px;
        line-height: 100%;
    }
    .view-btn {
        font-size: 16px;
    }
    .our-team-area.our-clients-area  {
        padding-bottom: 10px;
    }
    .clientSlider {
        padding-top: 10px;
        padding-bottom: 30px
    }
    .clientSlider {
        padding-bottom: 0px;
    }
    .our-journey-content {
        flex-direction: column;
        padding-top: 30px
    }
    .our-journey-area {
        padding-bottom: 50px;
        padding-top: 40px;
    }
    .our-journey-photo {
        width: 100%;
    } 
    .our-journey-details {
        padding-left: 0px;
        width: 100%;
        padding-top: 20px;
    }
    .investor-info h4 {
        font-size: 20px;
    }
    .our-journey-details .btn {
         margin:0 auto;
         margin-top: 20px;
    }
    .our-journey-photo .project-name h4 {
        font-size: 16px;
    }
    .shape-future-area {
        padding-top: 10px;
        padding-bottom: 50px;
    }
    .shape-future-area .common-title {
        padding-bottom: 20px;
    }
    .future-content .project-name h4 {
        font-size: 18px;
    }
    .autho-photo {
        width: 50px;
        min-width: 50px;
        height: 50px;
    }
    .author-info h4 {
        font-size: 20px;
    }
    .author-info span,
    .author-info p {
        font-size: 16px;
    }
    .testimonial-wrap {
        padding: 15px 12px;
    }
    .testimonialSwiper .swiper-pagination-bullet {
        height: 10px;
        width: 10px;
    }
    .testimonialSwiper .swiper-pagination-bullet-active { 
        width: 20px;
    }
    .testimonial-wrap {
        max-width: 286px;
        right: 20px;
    }
    .future-content .project-name {
        top: 12px;
        bottom: initial;
    }
    .author-info {
        padding-left: 10px;
    }
    .author-info h4 {
        font-size: 18px;
        margin-bottom: 4px;
    }
    .author-info span, .author-info p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .author-info span {
        margin-bottom: 20px;
    }
    .shape-future-bottom h3 {
        margin-bottom: 10px;
        font-size: 24px;
    }
    .testimonialSwiper .swiper-pagination {
        left: 58px;
    }
    .shape-future-bottom {
        padding-top: 102px;
    }
    .worldwide-partners-area {
        padding-top: 0px;
        padding-bottom: 50px
    }
    .worldwide-partner-content  {
        flex-direction: column;
    }
    .worldwide-map {
        width: 100%;
    }
    .worldwide-info {
        padding-left: 0px;
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }
    .worldwide-info h2 {
       font-size: 28px;
    }
    .worldwide-info h6 {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .worldwide-partners-area .banner-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .worldwide-info p {
        margin-bottom: 20px
    }
    .footer-content  {
        flex-direction: column;
        padding-bottom: 0px;
    }
    .footer-text {
        max-width: 100%
    }
    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer-widget h5 {
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 10px;
    }
    .copyright-conent {
        padding-top: 10px;
        flex-direction: column-reverse;
    }
    .footer-shap {
        max-width: 100px;
    }
    .social-media-link  {
        flex-direction: column;
    }
    .social-media-link ul li a {
        width: 40px;
        height: 40px;
    }
    .social-media-link ul li a img {
         width: 15px;
    }
    .breadcrumb-area {
        padding: 30px 20px;
    }
    .breadcrumb {
        padding: 6px 18px;
    }
    .breadcrumb li a {
        font-size: 16px;
    }
    .about-revo-area .common-title p {
        font-size: 16px;
    }
    .about-revo-area .common-title {
        padding-bottom: 20px
    }
    .about-video-content {
        padding-top: 30px;
    }
    .tax-saveings h4 {
        font-size: 20px;
        margin-bottom: 8px;
    }
    .tax-saveings h4 span {
        font-size: 12px;
        padding: 2px 5px;
    }
    .tax-saveings p {
        font-size: 12px;
        line-height: 16px;
    }
    .tax-saveings {
        max-width: 110px;
    }
    .tax-saveings {
        bottom: -50px
    }
    .about-video-content.position-relative {
        padding-right: 10px;
    }
    .achieve-goals-area {
        padding-top: 30px;
        padding-bottom: 50px
    }
    .title-top-box  {
        flex-direction: column;
        text-align: center;
    }
     .top-btn-box {
        min-width: 290px;
        width: 290px;
        margin: 0 auto;
    }
    .achieve-goals-area .common-title {
        padding-right: 0px;
        width: 100%;
    } 
    .achieve-goals-area .common-title h2 {
        font-size: 28px;
        line-height: 120%;
    }
    .project-counter-box {
        padding: 30px;
    }
    .project-counter-box .row  {
        gap:20px 0px;
    }

    .individuals-team-area {
        padding-top: 50px;
        padding-bottom: 50px
    }
    .individuals-team-area .common-title h2 {
        font-size: 28px;
        line-height: 100%;
        text-align: center;
    }
    .individuals-team-area .common-title p {
        text-align: center;
    }
    .individuals-team-content  {
        flex-direction: column;
    }
    .individuals-team-single {
        width: 100%;
        border-right: none;
    }
    .individuals-team-inner {
        padding: 0px 0px;
        text-align: center;
    }
    .individuals-team-inner h3 {
        font-size: 20px;
    }
    .individuals-team-content {
        gap: 20px;
    }
    .our-lineup-full {
        padding-top: 50px
    }
    .our-lineup-area {
        padding-top: 50px;
        padding-bottom: 50px
    }

    .lineup-title  {
        flex-direction: column;
        text-align: center;
    }
    .team-member-info {
        padding-top: 15px;
    }
    .team-member-info h4 {
        font-size: 20px;
    }
    .team-member-info span {
        font-size: 15px;
        line-height: 120%;
    }
    .team-member-wrap .row {
        gap: 20px 0px;
    }

    .team-shap-icom1 {
        top: 4%;
        max-width: 140px;
    }
    .partof-us-area {
        padding-top: 50px;
        padding-bottom: 50px
    }
    .partof-us-area .common-title {
        text-align: center;
    }
    .btn-yellow-bg {
        margin: 0 auto;
    }
    .partof-us-area .common-title p {
        margin-bottom: 20px;
    }
    .partof-single {
        width: 50% !important;
    }
    .our-partners-area {
        padding-top:50px;
        padding-bottom: 50px;
    }
    .our-partners-area .common-title {
        width: 100%;
    }
    .our-partners-area  .clientSlider {
        padding-top: 40px
    }
    .map-world-full {
        padding: 50px 0px;
    }
    .map-world-area {
        padding-top: 50px;
        padding-bottom: 50px
    }
    .world-map-content {
        margin-top: 20px
    }
    .business-idea-area {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .business-idea-container  {
        flex-direction: column;
    }
    .business-idea-photo {
        width: 100%;
    }
    .business-idea-info{
        width: 100%;
        padding-left: 0px;
        padding-top: 30px;
        text-align: center;
    }
    .quote-text h2 {
        font-size: 36px;
        line-height: 28px;
    }
    .quote-text {
        bottom: -25px;
        right: 9px;
    }
    .business-idea-info h2 {
        margin-bottom: 10px;
    }
    .sercives-provide-full {
        padding-top: 50px
    }
    .sercives-we-provide-area {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .sercives-we-provide-area .servies-content {
        padding-top: 30px;
    }
    .sercives-we-provide-area .servies-content {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
    }
    .sercives-we-provide-area .servies-item {
        width: 100%;
    }
    .sercives-we-provide-area .servies-info-arrow {
        width: 50px;
        height: 50px;
        min-width: 50px;
    }
    .sercives-we-provide-area .servies-item {
        padding:15px 18px;
    }
    .sercives-we-provide-area .servies-count h4 {
        font-size: 20px;
    }
    .sercives-we-provide-area .servies-info-wrap {
        padding-top: 15px;
    }
    .sercives-we-provide-area .servies-info-title h3 {
        font-size: 20px;
    }
    .sercives-we-provide-area .servies-info-title p {
        font-size: 14px;
    }

    .case-study-area {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
    .case-study-info span {
        font-size: 16px;
        line-height: 22px; 
        padding-bottom: 10px;
    }
    .case-study-info h2 {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .case-study-info p {
        font-size: 16px;
        line-height: 22px;
    }
    .closing-more h4 {
        font-size: 22px;
        line-height: 30px;
    }
    .closing-more {
        padding-top: 10px;
    }
    .closing-more .banner-btn {
        padding-top: 10px;
        justify-content: center;
        margin-bottom: 35px;
    }
    .case-study-photo {
        max-width: 100%;
    }
    .study-person-left {
        text-align: start;
    }
    .our-informtion-content .row {
        gap:20px 0px;
    }
    .info-icon {
        width: 50px;
        height: 50px;
     }
    .info-icon img {
       width: 24px;
    }
    .info-details {
        padding-top: 24px;
    }
    .our-informtion-area {
        padding-bottom: 50px
    }
    .info-details h6 {
        font-size: 20px;
        line-height: 30px;
    }
    .info-details p {
        font-size: 16px;
        line-height: 20px;
    }
    .info-details span {
        font-size: 16px;
    }
    .contact-us-area {
        padding-top: 20px;
    }
    .field-input label {
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 4px;
    }
    .field-input .form-control {
        height: 50px;
        padding: 12px;
        font-size: 16px;
    }
     .contact-form {
        padding-top: 30px;
    }
    .bottom-line {
        padding-bottom: 20px;
    }
    .field-input textarea.form-control {
        height: 160px;
    }
    .contact-us-area {
        padding-bottom: 50px
    }
    .our-partnes-map .world-map-content {
        padding-top: 20px
    }
    .client-feedback-item  {
        flex-direction: column-reverse;
    }
    .testimonial-image-inner {
        max-width:100%;
        margin-left: 0;
    }
     .testimonial-image-inner img {
        width: 100%;
     }
     .testimonial-image {
        width: 100%;
     }
     .testimonial-content {
        width: 100%;
     }
     .clients-feedback-area {
        padding-top: 50px;
        padding-bottom: 50px;
     }
    .clients-feedback-content {
        padding-top: 20px;
    }
    .view-project {
        font-size: 18px;
    }
    .testimonial-content {
        padding-top: 20px
    }
    .testimonial-content p {
        font-size: 16px;
        margin-top: 14px;
        margin-bottom: 20px
    }
    .clienst-info span,
    .clienst-info h6 {
        font-size: 16px;
        line-height: 120%;
    }
    .clientsSidler .swiper-pagination {
        margin-top: -20px;
        font-size: 16px;
    }
    .clientsSidler .swiper-nav-custom {
        margin-top: 30px;
    }
    .team-gallary-area .about-video-content  {
        padding-top: 20px;
    }
    .employee-benifits-content {
        padding-top: 30px;
    }

    .employee-benifits-content .info-icon {
        font-size: 20px;
    }
    .employee-benifits-content .info-details h6 {
        font-size: 24px;
    }

    .working-processing .common-title h2 {
        line-height: 120%;
    }
    .working-processing .partof-us-content {
        padding-top: 30px
    }
    .hear-team-area {
        padding-bottom: 50px;
        padding-top: 0px;
    }
    .hear-team-content  {
        flex-direction: column;
        padding-top: 20px
    }
    .team-person-inner {
        padding: 20px;
    }
    .team-person-inner strong, .team-person-inner p {
        font-size: 16px;
    }
    .team-person-info {
        width: 100%;
        padding-left: 0px;
        padding-top: 30px;
    }
    .qute-icon {
        position: absolute;
        top: 15px;
        left: 14px;
    }
    .team-person-inner span {
        font-size: 16px;
    }
    .team-person-inner strong {
        margin-bottom: 2px
    }
    .team-person-photo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .our-project-area {
        padding-top: 50px
    }
    .our-project-content {
        padding-top: 30px
    }
    .filter {
        padding: 7px 16px;
    }
    .blog-contant .tile {
        width: calc((100% - 40px) / 2);
        margin-bottom: 40px;
    }
    .jobpost-name h3 {
        font-size: 22px;
        line-height: 32px;
    }
    .jobtitle {
        font-size: 16px;
    }
    .jobtitle::before {
        width: 8px;
        height: 8px;
    }
    .job-location {
       font-size: 16px;
       line-height: 26px;
       gap: 5px;
    }
    .jobtype span {
        font-size: 18px;
    }
    .jobpost-single p {
        font-size: 16px;
        line-height: 22px;
    }
    .job-details {
        margin-top: 24px;
    }
    .jobpost-single {
        padding:20px;
        margin-top: 20px;
    }
    .our-product-box .sucessfull-project-list,
    .reverse-cal-item .sucessfull-project-list  {
        flex-direction: column;
    }
    .our-product-box .sucessfull-project-photo {
        width: 100%;
    }
    .our-product-box .sucessfull-project-info {
        width: 100%;
        padding-left: 0px;
        padding-top: 20px
    }
    .cursor__inner {
        font-size: 14px;
    }
     .partof-bg img {
        height: 300px;
    }
    .sucessfull-project-info h3 {
        text-shadow: 0px 1px 3px #00000082;
    }

    .marquee-section {
        padding: 5px 0;
    }


}

@media screen and (max-width: 768px) { 
    .partof-single {
        width: 100% !important;
    }
    .contact-form-inner {
        flex-direction: column;
    }
    .contant-form-item {
        width: 100%;
    }
    .contact-form-inner {
        gap: 15px;
    }
    .contact-us-area {
        padding-top: 0px;
    }
    .google-rataing-content  {
        flex-direction: column;
    }
    .google-rataing-text {
        width: 100%;
        text-align: center;
    }
    .google-rataing-text p {
        font-size: 16px;
    }
    .google-rataing-content {
        border-radius: 8px;
        padding: 20px 15px;
    }
    .google-rataing-text p br {
        display: none;
    }
    .project-counter-box.google-rataing-box {
        padding-bottom: 0;
    }
    #portfolio {
         webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
 
    }
    .marquee-slider-contanier,
    .tile {
        margin-bottom:30px
    }
    .tile:first-child {
        margin-top: 0px;
    }
    #filters {
        gap: 8px;
        margin-bottom: 30px;
    }

    .our-product-box .sucessfull-project-info h3,
    .sucessfull-project-info h3 {
        font-size: 22px;
        line-height: 30px;
    }
    .sucessfull-project-info p {
        font-size: 15px;
    }
    .our-product-box .sucessfull-project-info p {
        margin-bottom: 18px;
    }
    .project-btn {
        font-size: 16px;
    }   
    .cursor__inner {
        width: 80px;
        height: 80px;
    } 
     .blog-contant .tile {
        width: 100%;
        margin-bottom: 30px;
    }
    .cursor-inner-blog {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        font-size: 10px;
    }
     .filter {
        font-size: 14px;
    }
    .jobpost-single {
        padding: 16px;
    }
    .jobpost-name h3 {
        font-size: 20px;
        line-height: 28px;
    }
    .jobtitle {
        font-size: 14px;
        line-height: 22px;
        padding: 2px 8px 2px 22px;
    }
    .jobtitle::before {
        width: 6px;
        height: 6px;
        top: 10px;
        left: 9px;
    }
    .job-location {
        font-size: 15px;
        line-height: 22px;
        gap: 3px;
    }
    .jobpost-name-location {
        gap: 10px 10px !important;
    }

    .locaiton-icon {
        width: 18px;
        height: 18px;
        min-width: 18px;
     }
     .jobpost-name-location {
        padding-bottom: 15px;
     }
    .jobtype span {
        font-size: 16px;
        line-height: 22px;
    }
    .blog-item-info p {
        font-size: 16px;
        line-height: 22px
    }
    .project-title {
        font-size: 16px;
     }
     .our-product-box .sucessfull-project-info h3{
        margin-top: 10px;
     }
     .our-product-box .sucessfull-project-info {
        padding-top: 12px;
     }
     .our-product-box .sucessfull-project-info p {
        margin-bottom: 12px;
     }
    .our-product-box .project-btn {
        font-size: 14px;
    }
    .partof-bg img {
        height: auto;
    }
    .team-member-photo img  {
        height: auto;
    }
    .team-filter-list .nav-link {
        padding: 5px;
        font-size: 14px;
    }
    .project-single-area  {
        padding-bottom: 50px
    }
    .marquee-section .swiper-slide {
        height: 200px;
    }

}
@media screen and (max-width: 500px) { 
    .worldwide-map-list {
        width: 100%;
    }
    .about-video-box  img {
        height: 300px;
        object-fit: cover;
    }
    .about-video-box  .play-btn img{
        height: auto;
    }
    .study-person-left h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .study-person-left strong {
        font-size: 15px;
        line-height: 24px;
    }
    .study-person-left p {
        font-size: 14px;
    }
    .star small,
    .rated-star small {
        font-size: 16px;
    }
    .star-area {
        width: 106px;
    }
    .case-study-person {
        padding: 12px;
    }
    .closing-more .banner-btn {
        align-items: center;
    }
   .team-gallary-area  .about-video-box img {
        height: auto;
    }
    .our-team-area .about-video-box img {
        height: auto;
    }

    .marquee-section .swiper-slide {
        height: 150px;
    }



}
@media screen and (max-width: 425px) { 
    .banner-btn {
        flex-direction: column;
    }
    .banner-btn .btn {
        justify-content: center;
    }
    .banner-info p br {
        display: none;
    }
    .platform-item {
        font-size: 12px;
        padding: 8px;
        max-width: 165px;
    }
    .platform-item i {
        width: 30px;
        min-width: 30px;
        height: 30px;
    }   
    .platform-item-wrap {
        margin-bottom: -24px;
    } 
    .service-years-bg h2 {
        font-size: 30px;
        margin-bottom: 6px;
    }
    .service-years-card {
        max-width: 195px;
        margin-left: 20px;
        margin-top: -45px;
    }
    .service-years-bg p {
        margin-bottom: 6px;
    }
    .google-logo {
        padding-bottom: 7px;
    }
    .lets-talk-title h2 {
        padding-bottom: 15px
    }
    .btn-long-arrow {
        max-width: 80px;
        right: -24%;
        bottom: -32px;
    }
    .lets-talk-area {
        padding-bottom: 80px
    }
    .project-name h4 {
        font-size: 14px;
    }
    .project-name {
        padding: 2px 6px;
    }
    .our-successfull-area .banner-btn {
        align-items: center;
    }
    .future-content .project-name h4 {
        font-size: 16px;
    }
    .marquee-slider-contanier {
        border: 3px solid #D0D0D0;
    }

 }